In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import warnings

from sql_function import create_connection
from sql_query import rented_film_and_profit

In [8]:
pd.plotting.register_matplotlib_converters()
plt.style.use("seaborn-whitegrid")
pd.set_option("display.max_columns", 500)
warnings.filterwarnings("ignore")

In [2]:
SQL_PATH = 'sqlite-sakila.db'

In [3]:
connection = create_connection(SQL_PATH)

Connection to SQLite is successful

### Check Query

In [6]:
df = pd.read_sql_query(rented_film_and_profit, connection)
df.head()

              title  n_film  profit_by_film
0  ACADEMY DINOSAUR      23           36.77
1    ACE GOLDFINGER       7           52.93
2  ADAPTATION HOLES      12           37.88
3  AFFAIR PREJUDICE      23           91.77
4       AFRICAN EGG      12           51.88

### Simple Data Validation

In [7]:
df.isnull().sum()

title             0
n_film            0
profit_by_film    0
dtype: int64

In [9]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
953    False
954    False
955    False
956    False
957    False
Length: 958, dtype: bool

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           958 non-null    object
 1   n_film          958 non-null    int64
 2   profit_by_film  958 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 22.6+ KB

### Data Analysis